<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @reviews.content %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>


<%= link_to 'Review', new_restaurant_review_path(@restaurant) %>
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
